body{
margin: 20px;
}

#header {
    background-color: rgb(43, 51, 161);
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}

#searchArea{
    font-family: 'Raleway', sans-serif;
}

#overflow {
    overflow: scroll;
}

.search-parameters{
    border: 1px solid rgb(209, 209, 209);
    border-radius:4px; 
}

#searchResults {
    border: 1px solid rgb(209, 209, 209);
    border-radius:4px; 
}

.article {
    background-clip: #0A0FF0;
}