body{
margin: 20px;
}

#header {
    background-color: rgb(43, 51, 161);
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}

#searchArea{
    font-family: 'Raleway', sans-serif;
}

.search-parametersCont {

}

#overflow {
    overflow: scroll;
}

.search-parameters{
    border: 1px solid rgb(209, 209, 209);
    border-radius:4px; 
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(43, 51, 161);
    color: white;
}

.searchTerm{
    margin-top: 0;
    margin-bottom: 0;
}

.inputBars{
    margin-top: 0;
}

.buttons{
  background-color: rgb(202, 202, 202); 
  color: white; 
}

#searchResults {
    border: 1px solid rgb(209, 209, 209);
    border-radius:4px; 
}

.article {
    background-clip: #0A0FF0;
}
